* {
  font-family: "Inter", sans-serif;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow: hidden;
  background-color: #f1f1f1;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: #475467;
}

header {
  background-color: #1c181d;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.sm-screen-logo {
  display: none;
}

header form {
  position: relative;
}

header form svg {
  position: absolute;
  width: 14px;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

header form input {
  background-color: #322f33;
  border: 1px solid #616161;
  border-radius: 8px;
  width: 480px;
  height: 32px;
  padding-left: 30px;
  transition: all 0.3s;
  outline: none;
  color: #fff;
}

header form input:hover {
  border-color: #fff;
}

header form input:active {
  border-color: #fff;
  border-width: 2px;
}

header form input:focus {
  border-color: #fff;
  border-width: 2px;
}

header .user,
header .notification {
  display: flex;
  align-items: center;
  height: 30px;
}

header .notification {
  background: #322f33;
  width: 34px;
  height: 34px;
  border-radius: 8px;
  justify-content: center;
  transition: all 0.3s;
}

header .notification svg {
  width: 20px;
  height: 20px;
}

header .name {
  background-color: #322f33;
  margin-left: 10px;
  height: 34px;
  width: fit-content;
  border-radius: 8px;
  color: #fff;
  padding-right: 2px;
  padding-left: 8px;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

header .name p,
main .dc {
  font-size: 10px;
  margin: 0;
  line-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .name .dc,
main .dc {
  background-color: #36fba1;
  width: 30px;
  height: 30px;
  border-radius: 8px;
  color: #616161;
}

header .notification:hover,
header .name:hover {
  background-color: #656266;
}

header .notification:focus,
header .name:focus {
  background-color: #656266;
  outline: solid blue 2px;
}

/* MAIN SECTION */
main {
  width: 100%;
  min-height: 100%;
  position: relative;
}

.user-popup {
  width: 360px;
  height: fit-content;
  position: absolute;
  top: 10px;
  right: -100%;
  background-color: #fff;
  border-radius: 14px;
  padding: 5px 5px 8px;
  display: flex;
  flex-direction: column;
  transition: all 0.2s;
}

.user-popup.show {
  right: 20px;
}

.user-popup a {
  display: flex;
  align-items: center;
  border-radius: 14px;
  padding: 0 8px;
  height: 40px;
  transition: all 0.3s;
}

.user-popup a:hover {
  background-color: #f7f7f7;
}

.user-popup a:active {
  background-color: #f0f0f0;
}

.user-popup a:focus {
  background-color: unset;
  outline: 2px solid #005bd3;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #f1f1f1;
  margin: 10px 0;
}

.user-popup a,
.user-popup a > * {
  font-size: 14px;
}

.user-popup a:first-child {
  background-color: #e2e0e0;
  margin-bottom: 5px;
}

.user-popup a:first-child .dc {
  margin-right: 10px;
}

.user-popup a:first-child .name {
  font-weight: 700;
  flex: 5;
  font-size: 12px;
}

.user-popup a:first-child > span {
  justify-self: right;
  border: 1px solid blue;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-popup a:first-child > span svg {
  width: 9px;
}

.user-popup a:nth-child(2) > svg {
  width: 25px;
}

.user-popup a.email {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.user-popup a.email span:first-child {
  font-weight: 500;
}

.user-popup a.email span:last-child {
  font-size: 10px;
}

.alerts {
  position: absolute;
  top: 10px;
  right: 20px;
  background-color: #fff;
  width: 300px;
  border-radius: 14px;
  padding: 8px;
  border: 1px solid #ebebeb;
}

.alerts .head {
  display: flex;
}

.alerts .head h5 {
  flex: 5;
  line-height: 0;
}

/* MEDIA QUERIES */
@media screen and (max-width: 900px) {
  header form input {
    width: 300px;
  }
}

@media screen and (max-width: 650px) {
  .lg-screen-logo {
    display: none;
  }

  .sm-screen-logo {
    display: inline-block;
    transform: translateY(6px);
  }

  header form input {
    width: 240px;
  }

  header .notification {
    background-color: transparent;
  }

  header .notification svg {
    width: 30px;
    height: 30px;
  }

  header .name {
    background-color: transparent;
    height: 34px;
    width: 34px;
    padding: 0;
    gap: 0;
  }

  header .brand,
  .brand span {
    display: none;
  }

  header .name:hover {
    background-color: transparent;
  }

  header .name:focus {
    background-color: transparent;
    outline: none;
  }

  header .name:focus .dc {
    outline: solid blue 2px;
  }

  header .name .dc {
    width: 34px;
    height: 34px;
  }
}

@media screen and (max-width: 450px) {
  header {
    padding: 0 10px;
  }

  header form input {
    width: 170px;
    font-size: 10px;
  }
}

@media screen and (max-width: 400px) {
  .user-popup {
    width: 300px;
  }
}

@media screen and (max-width: 350px) {
  header form input {
    width: 120px;
  }

  .user-popup {
    width: 270px;
  }

  .user-popup.show {
    right: 10px;
  }
}
